body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    z-index: 1;
}

#text {
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
}
