#blob {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10;
    transition: 0.3s ease-out;
    
    /*background-color: #52796f9f;
    backdrop-filter: invert(100%);
    -webkit-backdrop-filter: invert(100%);*/

    background-color: var(--main-3);
    /*mix-blend-mode: exclusion;*/
}