body {
    background-color: #eeeeee;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

canvas {
    border: 2px solid black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}