@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-1: #CAD2C5;
    --main-2: #84A98C;
    --main-3: #52796F;
    --main-4: #354F52;
    --main-5: #2F3E46;
    --main-6: #1B2021;
}

html, body {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: var(--main-6);
}

main {
    margin-top: 5vh;
    height: auto;
    min-height: 82%;
    margin-bottom: 7vh;
    opacity: 0;
}

h1 {
    font-family: "Anton", sans-serif;
    margin: 0;
    margin-bottom: 3vh;
    position: relative;
    color: #fafafa;
    cursor: default;
    text-align: center;
    font-size: min(4rem, 12vw);
    width: min(410px, 90vw);
    height: auto;
    left: 50%;
    transform: translateX(-49%);
}
h1::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #fafafa;
    margin: 0 auto;
    transition: 0.3s ease;
}
h1:hover::after {
    width: 370px;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--main-1);
    text-align: left;
    font-size: min(2rem, 6vw);
    width: min(1100px, 90vw);
    margin: 25px auto;
}


@media (max-width: 640px) {
    main {
        margin-top: 0;
    }
}